server:
    port: 5000

archive:
    root: /data/archive
    #base: http://example.org/

    index:
        #type: memory

        type:       elastic
        url:        http://elastic:9200/
        index_name: demo

    triple_store:
        #type: memory

        type: sparql
        endpoint: http://fuseki:3030/sparql

# Index can also go here which will bypass archive on certain requests
index:
    url:        http://localhost:9200/
    index_name: demo

auth:
    type: simple
    user: demo
    pass: demo

# Not yes implemented
#    type: file
#    userfile: users.txt
#    groupfile: groups.txt
#
#    type: ldap
#    server: example.org
#    port: 1234
#    key: xxx
#    read-group: starch-reader
#    write-group: starch-writer
#    admin-group: starch-admin

locking:
    type: memory

# Not yet implemented
#    type: redlock
#    server: example.org
#    port: 1234
#    user: xxxx
#    pass: yyyy

