server:
    port: 5000

archive:
    root: /data/archive
    #base: http://example.org/

    #mode: read-only
    mode: read-write

    index:
        #type: memory
        type:       elastic
        url:        http://elastic:9200/
        index_name: demo

    content_extraction:
        pdf:
            status: on
            structure: true
            index: true

auth:
    type: simple
    user: demo
    pass: demo

#image_server:
#    root: http://worker:5000/
#    callback_root: http://nginx:8080/
#    send_location: true
#    prefix: archive
#    archive_root: /data/archive/

# Not yes implemented
#    type: file
#    userfile: users.txt
#    groupfile: groups.txt
#
#    type: ldap
#    server: example.org
#    port: 1234
#    key: xxx
#    read-group: starch-reader
#    write-group: starch-writer
#    admin-group: starch-admin

locking:
    type: memory

# Not yet implemented
#    type: redlock
#    server: example.org
#    port: 1234
#    user: xxxx
#    pass: yyyy

server:
    port: 5000

