<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/Semantic-UI-CSS-master/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="static/Semantic-UI-CSS-master/semantic.min.js"></script>
        <style>
            body {
                padding: 1em;
            }

            #content {
                padding-left: 19em;
                padding-top: 0.25em;
            }

            #menu {
                padding-top: 1em;
                background: #efeff5;
            }
        </style>
    </head>
    
    <body class="">
        <div id="menu" class="ui visible sidebar left vertical accordion menu list" style="overflow: hidden;">
            <div class="item">
               <div class="ui search">
                   <form action="/" method="GET">
                   <div class="ui icon input">
                       <input name="q" class="prompt" type="text" value="{{ query or '' }}" placeholder="Search ...">
                       <i class="search icon"></i>
                   </div>
                   </form>
               </div>
            </div>
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    <b>File types</b>
                </a>
                <div class="active content">
                {% for type in counts['type'] %}
                <div class="item">
                    <div class="right floated content">
                        <div class="ui circular label">{{ counts['type'][type] }}</div>
                    </div>
                    <a class="content" href="?q=files:{+mime_type:+%22{{ type | urlencode }}%22+}">{{ type }}</a>
                </div>
                {% endfor %}
                </div>
            </div>
            {% if counts['tag'] %}
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    <b>Tags</b>
                </a>
                <div class="active content">
                {% for tag in counts['tag'] %}
                <div class="item">
                    <div class="right floated content">
                        <div class="ui circular label">{{ counts['tag'][tag] }}</div>
                    </div>
                    <a class="content" href="?q=tags:+%22{{ tag | urlencode }}%22">{{ tag | truncate(16) }}</a>
                </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="item">
                <div class="header">Result</div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui circular label">{{ n_packages }}</div>
                    </div>
                    <div>Number of packages:</div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui circular label">{{ counts['size']['value'] | filesizeformat }}</div>
                    </div>
                    
                    <div>Total size:</div>
                </div>
            </div>
        </div>
        <div class="pushable">
            <!--button id="sidebar_left_toggle" onclick="$('.ui.sidebar').sidebar('toggle');">show sidebar</button-->
            <div id="content" class="ui article" id="content">
                <div class="ui cards">
                    {% for key,description in descriptions %}
                    {% set cover = description['files'] | selectattr('mime_type', 'in', [ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif', 'image/jp2', 'image/tiff' ] ) | first | default(None) %}
                    {% if cover %}
                    {% set cover = cover['path'] if cover['mime_type'] in [ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif' ] and cover['size'] < 512*1024 else cover['path'] + '/full/1024,/0/default.jpg' | default(None) %}
                    {% endif %}
                    <div class="ui raised linked card" href="/{{ key }}/">
                        <a href="/{{ key }}/_view">
                            <img style="object-fit: cover" class="ui masked image" width="300" height="300" onerror="this.src='/static/img/white-image.png'" src="{{ key + '/' + cover | urlencode if cover else '/static/img/white-image.png' }}"/>
                        </a>
                        <div class="content">
                            <span class="header">{{ description['label'] or '<None>' | truncate(32) }}</span>
                        </div>
                        <!--div class="blurring dimmable image" href="/{{ key }}/_view">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">{{ description['label'] }}</div>
                                    </div>
                                </div>
                            </div>
                            <img src="static/img/white-image.png"/>
                        </div-->
                        <!--div class="content">
                            <div class="center">
                                <span class="header">{{ description['label'] }}</span>
                                {% for tag in description['tags'] %}<a href="?q={+%22tags%22:+%22{{ tag | urlencode }}%22+}" class="ui blue label">{{ tag | truncate(16) }}</a>{% endfor %}
                            </div>
                        </div-->
                        <!--div class="extra content">
                        {% for tag in description['tags'] %}
                            <span class="ui label">{{ tag }}</span>
                        {% endfor %}
                        </div-->
                        <div class="extra content">
                            <span>{{ description['files'] | length }} Files</span> - <span>{{ description['size'] | filesizeformat }}</span> - <span>{{ [ description['instances'] | length, 1] | max }} instance(s)</span>
                        </div>
                        <div class="extra content">
                            <span>{{ description['created'] }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script>
        $('.ui.accordion')
           .accordion({ 'exclusive': false })
        ;
    </script>
<html>

