<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/static/Semantic-UI-CSS-master/semantic.min.js"></script>
        <style>
            body {
                padding: 1em;
            }

            {{ '#' }}content {
                padding-left: 19em;
                padding-top: 0.25em;
            }

            {{ '#' }}menu {
                background: #efeff5;
            }
        </style>
    </head>
    
    <body class="">
        <div id="menu" class="ui visible sidebar left vertical menu">
            # set ns = namespace(cover=False)
            # for path,d in package['files'].items():
            #   if not ns.cover:
            #     set type = d['mime_type']
            #     if d['mime_type'].startswith('image/'):
            #       if type in [ 'image/jpeg', 'image/jpg', 'image/gif', 'image/png' ] and d['size'] < 2*1024*1024:
            #         set ns.cover = path
            #       else
            #         set ns.cover = path + '/full/1024,/0/default.jpg'
            #       endif
            #     elif d['mime_type'] == 'application/pdf':
            #        set ns.cover = path + ':1/full/1024,/0/default.jpg'
            #     endif
            #   endif
            # endfor
            <img style="object-fit: cover" class="ui fluid image" onerror="this.src='/static/img/white-image.png'" src="{{ ns.cover | urlencode if ns.cover else '/static/img/white-image.png' }}"/>

            {% if package['tags'] %}
            <div class="item">
                <div class="header">Tags</div>
                {% for tag in package['tags'] %}
                <div class="item">{{ tag | truncate(16) }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="item"><b>Package size:</b>{{ package['size'] | filesizeformat }}</div>
	    <div class="item"><b>Created:</b>{{ package['created'] | truncate(22) }}</div>
            <div class="item"><b>Status:</b> {{ package['status'] }}</div>

	    # if package['instances']
            <div class="item">
                <div class="header"><b>Instances</b></div>
                {% for instance in package['instances'] %}
                <div class="content"><a href="/{{ instance['urn'] }}/_view">{{ instance['urn'] | truncate(32) }}</a></div>
                {% endfor %}
            </div>
            # endif

            <div class="item"><b>Download:</b> <a href="_download?format=application/x-tar"><i class="archive icon"></i>.tar</a> <!--a href="_download?format=application/tar">BagIt</a--></div>
        </div>
        <div class="pushable">
            <div id="content">
                <div>
                    <span class="ui right floated menu"><a class="ui {{ 'active' if mode == 'list' else '' }} item" href="?mode=list">List</a><a class="ui {{ 'active' if mode == 'cards' else '' }} item" href="?mode=cards">Cards</a></span>
            	    <div class="ui floating"><h1><a href="/">Index</a> / {{ package['label'] }}</h1></div>
                </div>
                <div class="ui divider"></div>
                # if mode == 'cards':
                <div class="ui cards">
                    # set viewable = False
                    # for path,d in package['files'].items():
                    #   set cover = None
                    #   set type = d['mime_type']
                    #   if d['mime_type'].startswith('image/'):
                    #     set viewable = True
                    #     if type in [ 'image/jpeg', 'image/jpg', 'image/gif', 'image/png' ] and d['size'] < 2*1024*1024
                    #       set cover = path
                    #     else
                    #       set cover = path + '/full/1024,/0/default.jpg'
                    #     endif
                    #   elif type == 'application/pdf'
                    #      set cover = path + ':0/full/1024,/0/default.jpg'
                    #   endif
                    <div class="ui raised linked card">
                        # set url = path + '/_view' if viewable else path
                        <a href="{{ url | urlencode }}">
                            <img style="object-fit: cover" class="ui image" width="300" min-height="200" onerror="this.src='/static/img/white-image.png'" src="{{ cover | urlencode if cover else '/static/img/white-image.png' }}"/>
                        </a>
                        <div class="content">
                            <span class="header"><a download href="./{{ path | urlencode }}"><i class="download icon"></i></a> {{ path | truncate(18) }}</span>
                        </div>
                    </div>  
                    # endfor
                </div>
                # else
                <table class="ui celled padded striped selectable large table">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            # if package['status'] != 'finalized':
                            <th width="5%">Delete</th>
                            # endif
                            <th width="5%">Type</th>
                            <th width="10%">Checksum</th>
                            <th width="5%">size</th>
                    </thead>
                    <tbody>
                        # for path in package['files'] | sort
                        #   set hash = package['files'][path]['checksum'].split(':')[1] if 'checksum' in package['files'][path] else 'N/A'
                        #   set type =  package['files'][path]['mime_type'] if 'mime_type' in package['files'][path] else 'unknown'
                        #   set viewable = type[0:6] == 'image/'
                        <tr>
                            <td>
                                <a download href="./{{ path | urlencode }}"><i class="download icon"></i></a>
                                <a class="header" href="./{{ path + '/_view' if viewable else path | urlencode }}"><b>{{ path }}</b></a>
                            </td>
                            # if package['status'] != 'finalized':
                            <td>
                                <a href="#" onclick="if (confirm('Really delete {{ path }}?')) deletePath('{{ path }}'); return false;"><i class="ui icon delete"></i></a>
                            </td>
                            # endif
                            <td nowrap width="5%">{{ package['files'][path]['mime_type'] | default('<unknown>') }}</td>
                            <td nowrap width="10%"><span class="ui circular label" data-content="{{ hash }}">{{ hash[:8]}}&nbsp;..&nbsp;{{ hash[-8:]}}</span></td>
                            <td nowrap width="5%"><span class="ui circular label">{{ package['files'][path]['size'] | filesizeformat}}</span></td>
                        </tr>
                        # endfor
                    </tbody>
                </table>
                # endif
            </div>
        </div>
    </body>
    <!--script>
        $('.dropdown').dropdown({transition: 'drop', on: 'hover' });
    </script-->
    <script>
        function deletePath(path) {
            $.ajax({
                type: "DELETE",
                url: path,
                success: function(msg){
                    alert("DELETED: " + msg);
                }
            });

            location.reload();
        }
    </script>
    <script>
        var dragged = false;

        document.addEventListener("dragover", function( event ) {
            if (!dragged)
                alert('in' + event.target);

            dragged = true;
        }, false);

        document.addEventListener("dragleave", function( event ) {
            if (dragged)
                alert('ut' + event.target);

            dragged = false;
        }, false);
    </script>
<html>
