<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/static/Semantic-UI-CSS-master/semantic.min.js"></script>
        <style>
            body {
                padding: 1em;
            }

            #content {
                padding-left: 19em;
                padding-top: 0.25em;
            }

            #menu {
                background: #efeff5;
        </style>
    </head>
    
    <body class="">
        <div id="menu" class="ui visible sidebar left vertical menu">
            <div class="item"><b>Package size:</b> {{ package['size'] | filesizeformat }}</div>
            <div class="item"><b>Status:</b> {{ package['status'] }}</div>
            <div class="item">
                <div class="header"><b>Instances</b></div>
                {% for instance in package['instances'] %}
                <div class="item">{{ instance['urn'] }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="pushable">
            <div id="content">
                <table class="ui celled padded striped selectable large table">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Type</th>
                            <th>size</th>
                    </thead>
                    <tbody>
                        {% for path in package['files'] | sort %}
                        <tr>
                            <td><a class="header" href="./{{ path | urlencode }}"><b>{{ path }}</b></a></td>
                            <td>{{ package['files'][path]['mime_type'] | default('unknown') }}</td>
                            <td><span class="ui circular label">{{ package['files'][path]['size'] | filesizeformat}}</span</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
