    <head>
        <link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/static/Semantic-UI-CSS-master/semantic.min.js"></script>
        <style>
            body {
                padding: 1em;
            }

            {{ '#' }}content {
                padding-left: 19em;
                padding-top: 0.25em;
            }

            {{ '#' }}menu {
                background: #efeff5;
            }
        </style>
    </head>
    
    <body class="">
        <div id="menu" class="ui visible sidebar left vertical menu">
            # set ns = namespace(cover=False)
            # for path,d in package['files'].items():
            #   if not ns.cover:
            #     set type = d['mime_type']
            #     if d['mime_type'].startswith('image/'):
            #       if type in [ 'image/jpeg', 'image/jpg', 'image/gif', 'image/png' ] and d['size']|int < 2*1024*1024:
            #         set ns.cover = path
            #       else
            #         set ns.cover = path + '/full/512,/0/default.jpg'
            #       endif
            #     elif d['mime_type'] == 'application/pdf':
            #        set ns.cover = path + ':1/full/512,/0/default.jpg'
            #     endif
            #   endif
            # endfor
            <img style="object-fit: cover" class="ui fluid image" onerror="this.src='/static/img/white-image.png'" src="{{ ns.cover | urlencode if ns.cover else '/static/img/white-image.png' }}"/>

            {% if package['tags'] %}
            <div class="item">
                <div class="header">Tags</div>
                {% for tag in package['tags'] %}
                <div class="item">{{ tag | truncate(16) }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="item"><b>Package size:</b>{{ package['size'] | filesizeformat }}</div>
            <div class="item"><b>Created:</b>{{ package['created'] | truncate(22) }}</div>
            <div class="item"><b>Status:</b> {{ package['status'] }}</div>

            # if package['instances']
            <div class="item">
                <div class="header"><b>Instances</b></div>
                {% for instance in package['instances'] %}
                <div class="content"><a href="/{{ instance['urn'] }}/_view">{{ instance['urn'] | truncate(32) }}</a></div>
                {% endfor %}
            </div>
            # endif

            <div class="item"><b>Download:</b> <a href="_serialize"><i class="archive icon"></i>.tar</a> <!--a href="_download?format=application/tar">BagIt</a--></div>
        </div>
        <div>
        <script src="/static/Semantic-UI-CSS-master/components/visibility.js"></script>
            <div id="content">
                <div>
                    <span class="ui right floated menu">
                        <a class="ui {{ 'active' if request.cookies.get('view', 'list') == 'list' else '' }} item" href="/_set?view=list">List</a>
			# if entities:
			<a class="ui {{ 'active' if request.cookies.get('view', 'list') == 'entities' else '' }} item" href="/_set?view=entities">Entities</a>
			# endif
			<a class="ui {{ 'active' if request.cookies.get('view', 'list') == 'structure' else '' }} item" href="/_set?view=structure">Structure</a>
		    </span>
            	    <div class="ui floating"><h1><a href="/">Index</a> / {{ package['label'] }}</h1></div>
                </div>
                <div class="ui divider"></div>
                # if mode == 'structure':
                <div class="ui cards">
                    # set partn = namespace(n=0)
                    # for elem in structure
                    #   set viewable = False
                    #   if elem['@type'] == 'Part'
                    #     set partn.n = partn.n + 1
                </div>
                <h2>{{ elem['title'] | default('Part ' + partn.n|string) }}</h2>
                <div class="ui divider"></div>
                <div class="ui cards">
                    #   elif elem['@type'] == 'Page'
                    #     set ns = namespace(path='', cover=None, viewable=False)
                    #     for repr in elem['has_representation']
                    #       if repr.endswith('.jp2'):
                    #         set ns.path = repr[repr.rindex('/')+1:]
                    #         set ns.cover = './' + ns.path + '/full/512,/0/default.jpg'
                    #         set ns.viewable = True
                    #       elif repr.endswith('.jpg'):
                    #         set ns.path = repr[repr.rindex('/')+1:]
                    #         set ns.cover = './' + ns.path
                    #         set ns.viewable = True
                    #       endif
                    #     endfor
                    #     set url = '../' + elem['@id'][elem['@id'].rindex('/')+1:] if ns.viewable else ns.path
                    <div class="ui raised linked card">
                        <a href="{{ url | safe }}">
                            <img style="object-fit: cover" class="ui image" width="300" min-height="200" src="/static/img/white-image.png" data-src="{{ ns.cover | urlencode if ns.cover else '/static/img/white-image.png' }}"/>
                        </a>
                        <div class="content">
                            <span class="header">
                                <span class="ui button"><a download href="./{{ ns.path | urlencode }}"><i class="download icon"></i></a></span>
                                <div class="ui flowing popup top left transition hidden">
                                  <div class="ui two column divided center aligned grid">
                                    <div class="column">
                                      <h4 class="ui header">JPEG</h4>
                                      <p><a download="{{ ns.path | replace('.jp2', '.jpg') }}" href="{{ ns.path + '/full/max/0/default.jpg' }}">Original size</a></p>
                                    </div>
                                    <div class="column">
                                      <h4 class="ui header">JPEG</h4>
                                      <p><a download="{{ ns.path | replace('.jp2', '_small.jpg') }}"  href="{{ ns.path + '/full/1024,/0/default.jpg' }}">1024x1024</a></p>
                                    </div>
                                  </div>
                                </div>
                                <span class="header">{{ ns.path | truncate(18) }}</span>
                            </span>
                        </div>
                    </div>  
                    #   endif
                    # endfor
                </div>
		# elif entities and request.cookies.get('view', 'list') == 'entities':
		#   for t in [ 'PER', 'ORG', 'LOC', 'WRK' ]:
		<h3>{{ t }}</h3>
		#     for entity in entities:
		#       if entity[1][0]['entity'] == t:
		#         set word = entity[0]
		          <span><b>{{ word }}</b> - 
		#         for name in entity[1]:
		<span><a href="{{ name['origin'] }}">{{ name['word'] }}</a>, </span>
		#         endfor
		<br/>
		#       endif
		#     endfor
		#   endfor
                # else
                <table class="ui celled padded striped selectable large table">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            # if package['status'] != 'finalized' and not read_only:
                            <th width="5%">Delete</th>
                            # endif
                            <th width="5%">Type</th>
                            <th width="10%">Checksum</th>
                            <th width="5%">size</th>
                    </thead>
                    <tbody>
                        # for path in package['files'] | sort
                        #   set hash = package['files'][path]['checksum'].split(':')[1] if 'checksum' in package['files'][path] else 'N/A'
                        #   set type =  package['files'][path]['mime_type'] if 'mime_type' in package['files'][path] else 'unknown'
                        #   set viewable = type[0:6] == 'image/'
                        <tr>
                            <td>
                                <a download href="./{{ path | urlencode }}"><i class="download icon"></i></a>
                                <a class="header" href="./{{ path + '/_view' if viewable else path | urlencode }}"><b>{{ path }}</b></a>
                            </td>
                            # if package['status'] != 'finalized' and not read_only:
                            <td>
                                <a href="#" onclick="if (confirm('Really delete {{ path }}?')) deletePath('{{ path }}'); return false;"><i class="ui icon delete"></i></a>
                            </td>
                            # endif
                            <td nowrap width="5%">{{ package['files'][path]['mime_type'] | default('<unknown>') }}</td>
                            <td nowrap width="10%"><span class="ui circular label" data-content="{{ hash }}">{{ hash[:8]}}&nbsp;..&nbsp;{{ hash[-8:]}}</span></td>
                            <td nowrap width="5%"><span class="ui circular label">{{ package['files'][path]['size'] | filesizeformat}}</span></td>
                        </tr>
                        # endfor
                    </tbody>
                </table>
                # endif
            </div>
        </div>
    </body>
    <!--script>
        $('.dropdown').dropdown({transition: 'drop', on: 'hover' });
    </script-->
    <script>
        function deletePath(path) {
            $.ajax({
                type: "DELETE",
                url: path,
                success: function(msg){
                    alert("DELETED: " + msg);
                }
            });

            location.reload();
        }
    </script>
    <script>
        var dragged = false;

        document.addEventListener("dragover", function( event ) {
            if (!dragged)
                alert('in' + event.target);

            dragged = true;
        }, false);

        document.addEventListener("dragleave", function( event ) {
            if (dragged)
                alert('ut' + event.target);

            dragged = false;
        }, false);

        $('.button')
          .popup({
            inline: true,
            hoverable: true,
            delay: {
                show: 0,
                hide: 100
            }
          });

        $('.cards .card a img')
            .visibility({
                type       : 'image',
                transition : 'fade in',
                duration   : 1000,
                initialCheck: 'False',
                onPassing  : function(calulations) {
                    console.log('bla');
                }
            });
   
    </script>
<html>
