<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/Semantic-UI-CSS-Master/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="static/Semantic-UI-CSS-Master/semantic.min.js"></script>
        <style>
            body {
                padding: 1em;
            }

            #content {
                padding-left: 19em;
                padding-top: 0.25em;
            }
        </style>
    </head>
    
    <body class="">
        <div class="ui visible sidebar inverted left vertical menu">
            {% for type in counts['type'] %}
            <a class="item" href="?q=%7B%20%22files%22%3A%20%7B%20%22mime_type%22%3A%20%22{{ type }}%22%20%7D%20%7D">{{ type }} ({{ counts['type'][type]  }})</a>
            {% endfor %}
        </div>
        <div class="pushable">
            <!--button id="sidebar_left_toggle" onclick="$('.ui.sidebar').sidebar('toggle');">show sidebar</button-->
            <div id="content" class="ui article" id="content">
                <div class="ui cards">
                    {% for key,description in descriptions %}
                    <div class="ui link card" href="/{{ key }}/">
                        <div class="image">
                            <img src="static/img/white-image.png"/>
                        </div>
                        <div class="content">
                            <span class="header">{{ description['label'] }}</span>
                            <a href="/{{ key }}/">{{ key }}</a>
                        </div>
                        <div class="description"></div>
                        <div class="extra content">
                            <span>{{ description['files'] | length }} Files</span> - <span>{{ description['instances'] | length }} instance(s)</span>
                        </div>
                        <div class="extra content">
                            <span>{{ description['created'] }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
<html>
