<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/Semantic-UI-CSS-master/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/static/Semantic-UI-CSS-master/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4.1/build/openseadragon/openseadragon.min.js"></script>
        <script src="static/js/openseadragon-svg-overlay.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <style>
            html, body, {{'#'}}main {
                height: 100%;
                width: 100%;
                margin: 0;
            }

            {{'#'}}header {
                padding: 0.5em;
                height: 3em;
                color: #7f7f8f;
                font-size: 2em;
                background-color: black;
                font-family: Arial, sans-serif;
                text-decoration: none;
            }

            {{'#'}}openseadragon {
                top: 4em;
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: #111;
            }

            a:link {
                text-decoration: none;
                color: #7f7f8f;
            }

            a:visited {
                text-decoration: none;
                color: #7f7f8f;
            }

            {{ '#' }}content {
                padding-left: 19em;
                padding-top: 0.25em;
            }

            {{ '#' }}menu {
                padding-top: 1em;
            }

            .key {
                border: 1px solid black;
                border-radius: 0.2em;
                padding: 0.25em;
            }
        </style>
        <script>
            App = {
                init: function() {
                    var self = this;

                    this.url = window.location.href.substring(0, window.location.href.indexOf("#"))
                    this.anchor = window.location.hash
                    this.structure = {{ structure | safe }}
                    this.page = find_page(this.structure, this.anchor)
                    this.image = this.page[1]
                    this.page = this.page[0]
                    this.region = find_region([ this.page ], this.anchor)
                    //this.image = find_image(this.structure, this.anchor)
                    
                    this.width = this.page["width"]
                    this.height = this.page["height"]
                    this.box = ("box" in this.region)? this.region["box"] : [0,0,this.width, this.height]; 
    
                    this.viewer = OpenSeadragon({
                        id:                 "openseadragon",
                        prefixUrl:          "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/",
                        preserveViewport:   true,
                        visibilityRatio:    1,
                        //minZoomLevel:       1,
                        //defaultZoomLevel:   1,
                        showNavigator:  true,
                        sequenceMode:       false,
                        tileSources:        this.url + "/" + this.image + "/info.json"
                    });

                    this.viewer.gestureSettingsMouse.clickToZoom = false

                    var overlay = this.viewer.svgOverlay();

                    var level = 'Text'
                     
                    var h = d3.select(overlay.node()).append("rect")
                        .attr("x", this.box[0]/this.width)
                        .attr("width", this.box[2]/this.width)
                        .attr("y", this.box[1]/this.width)
                        .attr("height", this.box[3]/this.width)
                        .attr("rx", 0.002)
                        .attr("ry", 0.002)
                    
                    highlight(h)
                    
                    this.rects = create_rects(d3.select(overlay.node()), this.width, this.height, level, this.page, this.anchor)

                    $(window).resize(function() {
                        overlay.resize();
                    });
                }
            };

            $(document).ready(function() {
                App.init();
                document.getElementById('back').setAttribute('href', window.location.href.split("#")[0] + '/_view')
                $('.ui.sidebar')
                    .sidebar('setting', 'dimPage', false)
                    .sidebar('setting', 'closable', false)
                    .sidebar('setting', 'transition', 'overlay')

                $('.ui.accordion')
                    .accordion({ 'exclusive': false });

            });

            var shifted = false
            var mode = 'view'

            $(document).on("keydown", function (e) {
                console.log(e)

                // activate menu?
                if (e.key == 'T') {
                    mode = (mode == 'view')? 'tag':'view'

                    $('.ui.sidebar')
                        .sidebar('toggle');
                }

                shifted = e.key == "Shift"
            });

            $(document).on("keyup", function (e) {
                if (e.key == "Shift") {
                    shifted = false
                }
            });

            function highlight(node) {
                node.transition()
                    .duration('250')
                    .style('fill', 'rgba(255, 255, 255, 0)')
                    .attr('stroke', 'rgba(255, 255, 255, 1)')
                    .attr('stroke-width', 0.0025)
                    .attr('stroke-dasharray', '0.01,0.005')
            }

            function select(node) {
                node.transition()
                    .duration('25')
                    .attr('opacity', 1)
                    .attr('selected', true)
            }

            function deselect(node) {
                node.transition()
                    .duration('150')
                    .attr('opacity', 0)
                    .attr('selected', false)
            }

            function create_rects(overlay, width, height, level, page, selected) {
                if ('has_part' in page) {
                    for (i=0;i<page['has_part'].length;i++) {
                        var area = page['has_part'][i]
                        var box = area['box']

                        if (box == [ null, null, null, null ]) continue;

                        if ('has_part' in area) {
                            for (j=0;j<area['has_part'].length;j++) {
                                var text = area['has_part'][j]
                                var box = text['box']

                                var x = overlay.append("rect")
                                    .style('fill', (text['@type'] == 'Image')? '#00f7':'#ff07')
                                    .attr("x", box[0]/width)
                                    .attr("width", box[2]/width)
                                    .attr("y", box[1]/width)
                                    .attr("height", box[3]/width)
                                    .attr("rx", 0.001)
                                    .attr("ry", 0.001)
                                    .attr("opacity", 0.0)
                                    .attr('stroke', 'rgba(0,0,0,1)')
                                    .attr('stroke-width', 0.005)
                                    .attr('xlink:href', text['@id'])
                                    .attr('id', 'id' + text['@id'].split('#')[1])

                                    // events
                                    .on('mouseenter', function (d,i) {
                                        if (mode == 'tag' && d3.select(this).attr('selected') != 'true') {
                                            d3.select(this)
                                                .transition()
                                                    .duration('100')
                                                    .attr('opacity', 0.5)
                                        }
                                    })
                                
                                    .on('mouseout', function (d,i) {
                                        if (d3.select(this).attr('selected') != 'true') {
                                            d3.select(this).transition()
                                                .duration('250')
                                                .attr('opacity', 0.0)
                                        }
                                    })

                                    .on('click', function (d,i) {
                                        if (mode == 'tag') {
                                            var selected = d3.select(this).attr('selected') == 'true'

                                            // deselect everything
                                            if (!shifted) {
                                                d3.selectAll('rect')
                                                    .each(function(d) {
                                                        deselect(d3.select(this))
                                                    })
                                            }

                                            if (!selected) {
                                                select(d3.select(this))
                                            }
                                                
                                            window.history.replaceState(
                                                window.location.protocol +
                                                '//' + window.location.host +
                                                location.path,
                                                "View", window.location.pathname + '#' + d3.select(this).attr('xlink:href').split('#')[1]);

                                            return

                                            select(d3.select(this).attr('id'), d3.select(this))

                                            return
                                            //window.location.hash = d3.select(this).attr('xlink:href').split('#')[1]

                                            var selected = d3.select(this).attr('selected') == 'true'

                                            d3.select(this).transition()
                                                .duration('250')
                                                .attr('opacity', (selected)? 0:1)
                                                .attr('selected', !selected)
                                        }
                                    })
                                }
                        }
                    }
                }

                return overlay
            }

            function find_page(structure, anchor) {
                for (i=0; i<structure.length;i++) {
                    var elem = structure[i];
                    var elem_anchor = '#' + elem['@id'].split('#')[1]
                    var nelems = elem_anchor.split('-').length

                    if (anchor.split('-').slice(0, nelems).join('-') == elem_anchor.split('-').slice(0, nelems).join('-')) {
                        if ("has_representation" in elem) {
                            var representation = elem["has_representation"];

                            for (j=0; j<representation.length;j++) {
                                if (representation[j].endsWith(".jp2")) {
                                    var im = representation[j];

                                    return [ elem, im.substring(im.lastIndexOf("/")+1) ];
                                }
                            }
                        }

                        if ("has_part" in elem) {
                            var ret = find_page(elem["has_part"], anchor)
                
                            if (ret != null) {
                                return ret
                            }
                        }
                    }
                }

                return null;
            }

            function find_region(structure, anchor) {
                for (i=0; i<structure.length;i++) {
                    var elem = structure[i];

                    if (anchor == ("#" + elem['@id'].split("#")[1])) {
                        return elem
                    } else if (anchor.startsWith("#" + elem['@id'].split("#")[1])) {
                        if ("has_part" in elem) {
                            var ret = find_region(elem["has_part"], anchor)
                
                            if (ret != null) {
                                return ret
                            }
                        }
                    }
                }

                return null;
            }
        </script>
    </head>

    <body>
        <div id="menu" class="ui sidebar left inverted vertical accordion menu list" style="overflow: hidden;">
            <div class="item">
                <div class="header"><center>Tagging</center></div>
            </div>
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    <b>Level</b>
                </a>

                <div class="active content">                
                    <div class="item">
                        <div class="ui inverted grey compact button">1</div>
                        <span class="content">Page</span>
                    </div>

                    <div class="item">
                        <div class="ui inverted grey compact button">2</div>
                        <a class="content" href="">Area</a>
                    </div>

                    <div class="item">
                        <div class="ui inverted grey compact button">3</div>
                        <a class="content" href="">Text</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    <b>Content structure</b>
                </a>
                <div class="active content">                
                    <div class="item">
                        <div class="ui inverted grey compact button">Q</div>
                        <span class="content">Headline</span>
                    </div>

                    <div class="item">
                        <div class="ui inverted grey compact button">W</div>
                        <a class="content" href="">Ingress</a>
                    </div>

                    <div class="item">
                        <div class="ui inverted grey compact button">E</div>
                        <a class="content" href="">Text</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    <b>Content type</b>
                </a>
                <div class="active content">                
                    <div class="item">
                        <div class="ui inverted grey compact button">A</div>
                        <span class="content">Editorial</span>
                    </div>

                    <div class="item">
                        <div class="ui inverted grey compact button">S</div>
                        <a class="content" href="">OP-ED</a>
                    </div>

                    <div class="item">
                        <div class="ui inverted grey compact button">D</div>
                        <a class="content" href="">Article</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" class="pusher">
            <div id="header">&lt;&lt; <a id="back">{{ request.args['back_title'] if 'back_title' in request.args else 'Back to package' }}</a></div>
            <div id="openseadragon"></div>
        </div>
    </body>
</html>

